<button
  mat-icon-button
  class="close-button"
  [mat-dialog-close]="true"
  matTooltip="Cerrar"
>
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
@if(datos){
<div>
  <div class="dialog-headline">
    <span class="description">{{ datos.nombre }}</span>
    <span>Código: {{ datos.id }}</span>
  </div>
  <mat-dialog-content class="content-container">
    <div class="details-container">
      <div class="info-container">
        <div>
          <div class="info">
            <mat-icon>place</mat-icon>
            <h3>Ubicación:</h3>
          </div>
          {{ datos.direccion }}
        </div>

        <!-- <div>
          <div class="info">
            <mat-icon>description</mat-icon>
            <h3>Descripción:</h3>
          </div>
          {{ datos.descripcion }}
        </div> -->
        <div>
          <div class="info">
            <mat-icon>phone</mat-icon>
            <h3>Teléfono:</h3>
          </div>
          {{ datos.telefono }}
        </div>
        <div>
          <div class="info">
            <mat-icon>email</mat-icon>
            <h3>Correo electrónico:</h3>
          </div>
          {{ datos.correo }}
        </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <div class="info-container">
        <div>
          <div class="info">
            <mat-icon>person</mat-icon>
            <h3>Encargados:</h3>
          </div>
          <span *ngFor="let encargado of datos.encargados">
            {{ encargado.nombre }} |
          </span>
        </div>
      </div>

      <br />
      <mat-divider></mat-divider>
      <div>
        <h2>Estado:</h2>
        <div
          [ngClass]="{ activo: datos.estado, inactivo: !datos.estado }"
          class="status"
        >
          <mat-icon>{{
            datos.estado ? "check_circle" : "highlight_off"
          }}</mat-icon>
          {{ datos.estado ? "Activo" : "Inactivo" }}
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
}
