<mat-card class="container">
  <mat-card-header class="header">
    <div class="full-width">
      <h1 class="mat-h1">Facturas</h1>
    </div>
    <div
      class="mid-width"
      *ngIf="
        currentUser.rol === 'Encargado' || currentUser.rol === 'Administrador'
      "
    >
      <h1>Filtro por Cliente</h1>
      <mat-form-field class="almost-full-width">
        <mat-label>Nombre Cliente</mat-label>
        <input
          matInput
          #nCliente
          [(ngModel)]="filtro"
          (ngModelChange)="searchFacturaCliente(nCliente.value)"
        />
        <button mat-icon-button matSuffix color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-raised-button
        style="background-color: #ffb84d"
        (click)="limpiarFiltroInput()"
      >
        <mat-icon>refresh</mat-icon>
        Limpiar Filtro
      </button>
    </div>

    <div class="mid-width">
      <h1>Filtro por Fechas</h1>
      <mat-form-field class="almost-full-width">
        <mat-label>Seleccione una fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedDate"
          [matDatepickerFilter]="dateFilter"
          (dateChange)="onDateChange($event)"
          readonly
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button
        mat-raised-button
        style="background-color: #ffb74d"
        (click)="limpiarFiltroDate()"
      >
        <mat-icon>refresh</mat-icon>
        Limpiar Filtro
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table
      mat-table
      [dataSource]="dataSource"
      class="full-width-table table"
      matSort
      matSortStart="desc"
      aria-label="Elements"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Factura</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let row">{{ row.usuario.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let row">
          {{ row.fecha | date : "dd/MM/yyyy" : "+0000" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">
          {{ row.total | currency : "₡ " }}
        </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let row">
          {{ row.estado ? "Facturado" : "Proforma" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Detalles</th>
        <td mat-cell *matCellDef="let row">
          <!-- Botón de Actualizar Proforma, visible solo si row.estado es false y el rol es Encargado o Administrador -->
          <button
            *ngIf="
              row.estado === false &&
              (currentUser.rol === 'Encargado' ||
                currentUser.rol === 'Administrador')
            "
            class="action"
            mat-mini-fab
            matTooltip="Actualizar Proforma"
            aria-label="Actualizar Proforma"
            color="primary"
            (click)="actualizarProforma(row.id)"
          >
            <mat-icon class="mat-18">edit</mat-icon>
          </button>

          <!-- Botón de Detalle, con tooltip dinámico -->
          <button
            mat-mini-fab
            [matTooltip]="row.estado ? 'Detalle Factura' : 'Detalle Proforma'"
            aria-label="Detalle Factura"
            color="primary"
            (click)="detalle(row.id)"
          >
            <mat-icon class="mat-18">info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[3, 5, 10]"
      aria-label="Seleccione una pagina"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
