mat-dialog-content {
  line-height: 1.5em;
  padding: 1.5em;
}

.close-button {
  top: 0;
  right: -94%;
}

.close-icon {
  transition: 1s ease-in-out;
}

.dialog-headline {
  font-weight: 500;
  margin-bottom: 0;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  background-color: #058a78; /*Color anterior: deepskyblue*/
  color: white;
}

.description {

  font-size: 30px;
}

.content-container {
  padding-top: 1em;
  text-align: left;
  line-height: 1.5em;
}

.image-container {
  margin-top: 1%;
  float: left;
  width: 48%;
}

.details-container {
  margin-left: 1%;
  padding-left: 1%;
  float: left;
  width: 48%;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.info-product {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 50%;
  margin: 2px;
}

.price {
  text-align: center;
  padding: 5px;
  font-weight: 800;
  font-size: 3em;
  color: #46a35e;
}

img {
  width: 100%;
  max-height: 490px;
}
